.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#root {
  display: flex;
  background-color: cadetblue;
  font-family:  Arial, Helvetica, sans-serif;
  flex-direction: column; 
}

.listButton {
  display: flex;
  margin: 10px;
}

button, input, optgroup, select, textarea, label, form {
  display: flex;
  font-family: inherit;
  margin: 10px;
  justify-content: center;
  color: black;
  font-weight: bold;
}

.registerForm {
  max-height: 3rem;
  justify-content: center;
}
.registerButton {
  padding: 0 .5rem;
  text-align: center;
  justify-content: center;
  max-height: 3rem;
}

.loginButton {
  padding: 0 .5rem;
  max-height: 2rem;
  text-align: center;
}
.createButton {
  padding: .5rem .5rem;
  max-height: 3rem;
  min-height: 1rem;
}
.editButton {
  max-height: 2rem;
}

















.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label{
  line-height: 20px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}